<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="/"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
            <strong><a href="/"><img src="/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a title="Dashboard" href="/" aria-expanded="false">
                        <span class="educate-icon educate-home icon-wrap" aria-hidden="true"></span>
                        <span class="mini-click-non">Trang chủ</span></a>
                    </li>
                    <li>
                        <a title="Users" href="/rooms" aria-expanded="false">
                            <span class="educate-icon educate-event icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Phòng</span></a>
                    </li>
                    <li>
                        <a title="Users" href="/rent-room-history" aria-expanded="false">
                            <span class="educate-icon educate-data-table icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Phiếu thuê phòng</span></a>
                    </li>
                    <li>
                        <a title="Brands" href="/bills" aria-expanded="false">
                            <span class="educate-icon educate-data-table icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Hóa đơn</span></a>
                    </li>
                    <li>
                        <a title="Brands" href="/admin" aria-expanded="false">
                            <span class="educate-icon educate-student icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Nhân viên</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->