<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logosn.ico">
    {{{_sections.head}}}
    <link rel="stylesheet" href="/css/my-css.css">
</head>
<body>
    {{> sidebar}}
    <div class="all-content-wrapper my-wrapper">
       
        {{> header}}
        <div class="my-main">
            {{{body}}}
        </div>
        {{> footer}}
    </div>
    {{{_sections.script}}}
</body>
</html>