{{#section 'head'}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hotel Transylvania</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{/section}}

<div style="max-width: 1000px; margin: 50px auto">
    <h1 style="text-align: center;">Welcom to Hotel Transylvania </h1>
    <img src="/images/hotel.webp"/>
</div>

{{#section 'script'}}
    <script>console.log('Hello')</script>
{{/section}}